.tab-pane .tab-header-background
{
    -fx-background-color: #A3A4AD;
}

.tab .tab-label 
{
/*-fx-skin: "com.sun.javafx.scene.control.skin.LabelSkin";*/
/*    -fx-background-color: transparent;    */
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14px;
    -fx-border: none;
}

